.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
  color: white;
}
h3.re {
  background: #f9d9bb;
  padding: 5px;
  color: #745335;
}
ion-label {
  white-space: normal;
}
